*
    padding: 0
    margin: 0
    box-sizing: border-box

input, meter
    width: 100%

button
    background-color: #6ad8af
    border: none
    color: white
    padding: 1rem
    text-align: center
    text-decoration: none
    display: inline-block
    font-size: 1rem
    user-select: none
    cursor: pointer
    border-radius: 0.5rem

body
    background: beige
    -webkit-user-select: none

#app
    color: beige
    font-family: Arial, Helvetica, sans-serif
    padding: 1rem
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr))
    grid-auto-columns: minmax(15rem, 1fr)
    gap: 1rem

.slot
    aspect-ratio: 1/1
    box-shadow: 0rem 0rem 0.1rem rgba(0, 0, 0, 0.4) inset
    border-radius: 1.2rem
    padding: 0.2rem
    background: rgba(0, 0, 0, 0.1)
    display: flex
    justify-content: center
    align-items: center

.add-module-popup
    padding: 1rem
    border-radius: 1rem
    border: none
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

    &::backdrop
        background: rgba(0, 0, 0, 0.3)

.module
    border-radius: 1rem
    border-bottom: 1px solid rgba(255, 255, 255, 0.4)
    width: 100%
    height: 100%
    bottom: 0.5rem
    background: rgb(230, 101, 163)

    padding: 1rem
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    flex-wrap: wrap
    gap: 1rem

    &.fill
        padding: 0

    &::before
        content: ""
        position: absolute
        border-radius: 1rem
        background: rgb(248, 143, 194)
        left: 0
        right: 0
        top: 0
        bottom: -0.5rem
        z-index: -1
        box-shadow: 0rem 0.1rem 0.3rem rgba(0, 0, 0, 0.3)
